body {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

.list {
    list-style-type: none;
}

button {
    cursor: pointer;
}

/* Header */

.logo {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: -0.03em;
    color: #111;
}

.menu-link {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: #111;
}

.menu-link:hover,
.menu-link:focus {
   color: #FD9222;
}
